*{
    background-color: rgb(187, 121, 121);
}
body {
    margin: 10%;
    padding-left: 25%;
  }
  input{
    width: 50%;
    padding: 10px 10px;
    background-color: rgb(127, 225, 228);
        }
        
    button[type=login] {
        width: 50%;
        background-color: rgb(225, 142, 225);
        font-size: 20px;
        font-family: 'Gill Sans';
        padding: 10px 12px;
    }
    
    label{
        font-size: 20px;
        font-family:'Times New Roman';
    }
    .content1{
        width: 50%;
        background: burlywood;
        border: 2px solid black;

    }
    button[type=reset] {
        background-color: rgb(230, 23, 109);
        width:20%;
        color: rgb(224, 236, 117);
        padding: 5px ;
        font-weight: bold;
        font-size: 15px;
    }
    a{
        background: burlywood;
        float: right;
        padding-top: 10px;
        padding-right: 20px;
    }

    
  